* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* .text{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: aliceblue;

}
.paragraph{
    font-family: JetBrain Mono;
    color: aliceblue
} */

.container {
    /* background-image: url("../Media/image/bgimage.png"); */
    /* background-image: url("../Media/image/ICON0.PNG"); */
    font-size: 40px;
    background-image: linear-gradient(rgba(0, 0, 0, .9), rgba(0, 0, 0, .2)), url("../Media/image/bgimage.png");
    height: 500px;
    background-repeat: no-repb eat;
    background-size: cover;
    background-position: center;
    height: fit-content;
    background-attachment: fixed;
}

.container .text {
    padding: 20px;
    color: white;
}

.container .paragraph {
    color: white;
}