* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.parent {
    height: 640px;
    width: 200px;
    flex-direction: column;
    border: 4px solid teal;
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
}
.kid {
    height: 200px;
    width: 200px;
    border-radius: 200px;
    color: white;
    text-align: center;
    line-height: 200px;
    font-size: 60px;
    /*background-color: red;*/
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.2)),
        url("../Media/image/bgimage.png");
}
